.root {
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}

@media (width <= 768px) {
  .root {
    flex-direction: column;
  }
}
